# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#  .gitignore Cotizador
# dependencies
cotizador/node_modules
cotizador/.pnp
cotizador/.pnp.js

# testing
cotizador/coverage

# production
cotizador/build

# misc
cotizador/.DS_Store
cotizador/.env.local
cotizador/.env.development.local
cotizador/.env.test.local
cotizador/.env.production.local

cotizador/npm-debug.log*
cotizador/yarn-debug.log*
cotizador/yarn-error.log*


################# PETS
pets/node_modules
pets/.pnp
pets/.pnp.js

# testing
pets/coverage

# production
pets/build

# misc
pets/.DS_Store
pets/.env.local
pets/.env.development.local
pets/.env.test.local
pets/.env.production.local

pets/npm-debug.log*
pets/yarn-debug.log*
pets/yarn-error.log*


################# PETS redux
pets-redux/node_modules
pets-redux/.pnp
pets-redux/.pnp.js

# testing
pets-redux/coverage

# production
pets-redux/build

# misc
pets-redux/.DS_Store
pets-redux/.env.local
pets-redux/.env.development.local
pets-redux/.env.test.local
pets-redux/.env.production.local

pets-redux/npm-debug.log*
pets-redux/yarn-debug.log*
pets-redux/yarn-error.log*

################# crud redux
redux-crud/node_modules
redux-crud/.pnp
redux-crud/.pnp.js

# testing
redux-crud/coverage

# production
redux-crud/build

# misc
redux-crud/.DS_Store
redux-crud/.env.local
redux-crud/.env.development.local
redux-crud/.env.test.local
redux-crud/.env.production.local

redux-crud/npm-debug.log*
redux-crud/yarn-debug.log*
redux-crud/yarn-error.log*